.wrapper {
    padding: 20px;
}

.wrapper h3 {
    text-transform: capitalize;
}

.wrapper form button {
    margin: 10px 0;
    cursor: pointer;
}

.wrapper ul button {
    background: none;
    border: none;
    cursor: pointer;
}
.card {
    height: auto;
    width: 300px;
    background-color: lavenderblush;
    color:blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}